.spell-card-background {
    background-image: url("../../assets/background-card.jpeg");
    background-color: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border: 1px solid black;
    border-radius: 8px;
    margin: 25px;
}
.spell-card {
    border-radius: 8px;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    padding: 15px;
}

.spell-list-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 360px);
	justify-content: center;
}

.spell-card h2 {
    margin-top: 0;
    padding-top: 15px;
}

.spell-card p {
    margin-bottom: 0;
    padding-bottom: 15px;
}