@keyframes stretch {
    0% {
        opacity: 1
    }
    25%{
      opacity: .6
    }
    40% {
      opacity: .3
    }
    50%{
      opacity: .1
    }
    60%{
      opacity: .3
    }
    75%{
      opacity: .6
    }
    100%{
      opacity: 1
    }
}

.logo {
  animation-name: stretch;
  animation-duration: 2.3s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.loadingPage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba( 255, 255, 255, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
}