.characters-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.button {
    font-family: Harry Potter, Arial;
    display: grid;
    justify-items: center;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 8.5em;
    padding: 100px;
}

.button:hover {
    font-size: 10.5em;
    transition: all 0.5s ease;
}